html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

body {
  background: #000;
}

#cTopCont {

  width: 800px;
  height: 80px;
  border: 1px solid #EEE;
  margin: auto;
  margin-top: 30px;
  background-color: #454545;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cTopCont div {

  display: flex;
  flex-direction: row;

}  

#cTopCont h1 {

  padding-left: 50px;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #111;
  padding-right: 50px;
  border-right: 2px solid #999;
}

.cResc {

  width: 80px;
  height: 80px;
  border-left: 1px solid #EEE;
  border-right: 1px solid #EEE;
  text-align: center;
  color: #EEE;

}

.cResc p {
  
  margin-top: 20px;
  line-height: 10px;
}

#cMidCont {

  position: relative;
  width: 800px;
  height: 400px;
  border: 1px solid #EEE;
  margin: auto;
  margin-top: 20px;
  background-color: #454545;
 
}

.cInp {

  position: absolute;
  font-size: 20px;
  bottom: 20px;
  margin-left: 280px;
  visibility: hidden;

}

.cTextBox {

  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.cInpCov {

  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}





.cInstSty {

  line-height: 80px;
  color: #EEE;
}

#cStoryScript1 {
  
  margin-top: 5px; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #EEE;
  opacity: 0.3;
}



#cStoryScript2 {
  
  margin-top: 5px; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #EEE;
  opacity: 0.5;
}

#cStoryScript3 {
  
  margin-top: 5px; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #EEE;
  opacity: 0.9;
}

#cStoryScript4 {
  
  margin-top: 5px; 
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  color: #EEE;
}


#cStoryTextCont {
  margin-top: 50px;
}





